.address-option {
    position: relative;
    border:1px solid black;
    border-radius: 20px;
    overflow: hidden;
  }
  .address-option:visited{
    border: 2px solid green;
  }
  
  .delete-button {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  .old-address-form{
    max-height: 60vh;
     overflow: scroll 
  }
  @media (max-width: 767px) {
    .old-address-form{
      max-height: 30vh;
       overflow: scroll 
    }
  }