/* Add this CSS to your existing CSS file or create a new one */

.size-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .size-button {
    padding: 10px 20px;
    margin: 0 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    transition: all 100ms ease-in-out;
  }
  
  .size-button:hover {
    background-color: #f0f0f0;
  }
  
  .size-button.selected {
    border-color: #007bff;
    background-color: #007bff;
    color: #fff;
  }
  




  .coursal_box{
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25px;
    background-image: url("../../../Assets//Section\ 5\ Customise_shoes/wallapaper.avif");
    background-repeat: no-repeat;
    background-size: 100% 100% ;
    background-attachment: fixed;
    background-position: center;
  }
  .edition_card {
    width: 18rem;
    border-radius: 10px; 
    transition: all 100ms ease-in-out;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  .edition_card:hover{
    background-color: rgb(195, 192, 192);
    
  }
  .img_holder {
    width: 100%; 
    height: 25vh; 
    border-radius: 10px;
  }
  .show_review{
    max-height: 60vh;
    overflow: scroll;
  }
